body {
    background: #f0f0f0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

}

.wrapper {
    background: white;
    width: 1000px;
    height: 90%;
    border: 1px solid #d8d9da;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 370px 1fr;
    overflow: hidden;

}

.menu {
    background: #fcfbfc;
    border-right: 1px solid #f0f0f0;
    padding: 30px;

}

.menu_title {
    text-align: center;
}

.menu_button {
    background: #a076ee;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
}

.tegs_li {
    margin: 20px;
    background: #dbc7ff;
    border-radius: 10px;
    padding: 10px 15px;
}

.poisk_2 {
    border: 1px solid #d8d9d0;
    padding: 5px 5px;
    flex-grow: 1;
    border: 1px solid #d8d9d0;
    border-radius: 5px;
    width: 85%;
    margin: 15px;
}

.forma_button {
    color: white;
    border-radius: 10px;
    width: 30px;
    height: 30px;

    border: 1px solid #a076ee;
    cursor: pointer;
    background: url('./img.png') no-repeat center center;
    background-size: contain;
    padding: 9px;

}

.otchut {
    width: 90%;
    border: 1px solid #a076ee;
    border-radius: 5px;
    padding: 15px 10px 45px;
    display: flex;
    justify-content: left;
    margin: 20px 20px;

}

.rabota {
    border: 1px solid #dbc7ff;
    border-radius: 10px;
    background: #dbc7ff;
    width: fit-content;
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 5px;
}

.otchut_1 {
    font-size: 20px;

}

.data {
    margin-top: 20px;
    left: 10px;


}

.menu__button {
    background: #ffccff;
    border-radius: 10px;
    color: #74777B;
    font-size: 20px;
    padding: 10px;
    border: none;
    width: 80%;
    margin-left: 35px;
    cursor: pointer;
}

.menu__teg {
    margin-top: 50px;
    margin-left: 30px;
    color: #74777B;
    font-size: 30px;
}

.teg {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    border-bottom: 1px solid #f1f2f6;
    transition: all 0.3s ease;
    cursor: pointer;
    padding-bottom: 10px;
    color: #2d3436;
    font-size: 18px;
    border-bottom: none;
}

.teg:hover {
    background-color: #afafaf;
    border-radius: 30px;
    width: 70%;
    padding-left: 35px;
    font-weight: 600;
    cursor: pointer;
}

.poisk__input {
    background: #FCFCFD;
    border-radius: 5px;
    border: 1px solid gray;
    width: 80%;
    margin-top: 25px;
    margin-left: 20px;
    padding: 10px;
}

.poisk {
    display: flex;
    gap: 10px;
}

.poisk__znach {
    background: #ffccff;
    margin-top: 25px;
    padding: 20px;
    border-radius: 5px;
    color: #F0F0F0;
    border: 1px solid gray;
    cursor: pointer;
}

.zadacha {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: auto;
}

.zadacha1__vnut {
    padding: 20px;
    border: 1px solid #E3E2E5;
    border-radius: 5px;
    margin-bottom: 20px;
    border-radius: 15px;
    font-weight: bold;
    position: relative;
}

.zad1 {
    font-size: 30px;
}

.zad2 {
    background: #F4F4F4;
    width: fit-content;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    color: #495B6D;
    position: absolute;
    right: 10px;
    top: 10px;
}

.zad3 {
    color: #495B6D;
    margin-top: 20px;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0, 5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}

.okno {
    background: #faf3f3;
    width: 500px;
    position: relative;
    padding: 35px;
}

.okno__close {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}

.okno__close:hover {
    cursor: pointer;
}

.overlay_open {
    display: flex;
}

.okno__form {
    display: flex;
    gap: 20px;
}

.okno__btn-save {
    border-radius: 5px;
    cursor: pointer;
}